.shb {
  font-family: Arial;
  border: 2px solid #ab21a7;
  background:#ab21a7;
  border-radius: 0px;
}

.smb {
  font-family: Arial;
  border: 2px solid #213cab;
  background:#213cab;
  border-radius: 0px;
}

.sehb {
  font-family: Arial;
  border: 2px solid #ab21a7;
  background:#ab21a7;
  border-radius: 0px;
}

.semb {
  font-family: Arial;
  border: 2px solid #213cab;
  background:#213cab;
  border-radius: 0px;
}
